body {
    background-color: #005c80;
    color: white;
    font-family: sans-serif;
  
}

h1{  
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
}
.page-wrapper {
    display: block;
    text-align: center;
}

button {
    border-radius: 50%;
    background-color: #fff;
    padding: 6;
    font-size: 1.2em;
    border:1px solid salmon;
    outline:0;
    font-family: 'Ubuntu', sans-serif;
    color: #606060;
}

button:hover {
   cursor: pointer;
}

#convertBtn {
    margin: 5px;
}

#clearBtn {
    margin: 5px;
}
#tempInput {
    border: 1px solid salmon;
    margin: 5px;
}
#tempOutput {
    background-color: white;
    width:160px;
    height: 50px;
    margin:0 auto;
    margin-top: 5px;
    border: 1px solid salmon;
    color:black;
}

.answer {
    color:black;
    font-size: 15px;
}